@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<p>The <a href="https://en.wikipedia.org/wiki/Elo_rating_system" target="_blank">Elo rating system</a> is a method for calculating the relative skill levels of players in zero-sum games such as chess. It is named after its creator <a href="https://en.wikipedia.org/wiki/Arpad_Elo" target="_blank">Arpad Elo</a>, a Hungarian-American physics professor.</p>
